<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootcamp Detail</title>
  </head>
  <body>
    <%- include('./partials/header')%>
    <h1>BOOTCAMP DETAILS</h1>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Fee</th>
        <th>Duration</th>
        <th>Student Limit</th>
        <th>Updated</th>
      </tr>
      <tr>
        <td><%=data.name%></td>
        <td><%=data.category%></td>
        <td><%=mvp(data.BootcampDetail.fee)%></td>
        <td><%=data.BootcampDetail.formatDuration()%></td>
        <td><%=data.BootcampDetail.studentLimit%></td>
        <td><%=data.BootcampDetail.updatedAt%></td>
      </tr>
    </table>
    <br><br>
    <% if (access === 'admin') { %>
        <a href="/bootcamps/<%= data.id%>/edit"><button>EDIT</button></a>
        <a href="/bootcamps/<%= data.id%>/delete"><button>DELETE</button></a>
    <% } %>
  </body>
</html>
